@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  box-sizing: border-box;
  /* width: 100vw; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif !important;
  width: 100vw;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

a:hover,
a:active,
a:focus {
  outline: 0;
}

:focus {
  outline: none !important;
}

::-moz-focus-inner {
  border: 0 !important;
}
